<section class="flex-1 relative text-gray-800">
    <!-- Fondo borroso izquierdo -->
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-180" aria-hidden="true">
        <div class="relative right-[calc(25%-20rem)] aspect-[1155/678] w-[90.125rem] -translate-y-1/2 rotate-[30deg] bg-gradient-to-tr from-[#0081a7] to-[#00f5d4] opacity-100 sm:left-[calc(50%-30rem)] sm:w-[50.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
        <div class="relative left-[calc(50%-30rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/4 rotate-[30deg] bg-gradient-to-tr from-[#0081a7] to-[#00f5d4] opacity-100 sm:left-[calc(80%-50rem)] sm:w-[50.1875rem]"
            style="clip-path: polygon(94.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>

    <div class="container mx-auto px-6 flex flex-col-reverse sm:flex-row items-center justify-center h-screen relative">
        <!-- Contenido -->
        <div class="mx-auto max-w-3xl text-center sm:text-left mb-16 sm:mb-0">
            <h1 class="text-6xl font-extrabold tracking-tight sm:text-7xl text-[#761C1C] leading-tight text-center">
                ¡Bienvenido!</h1>
            <p class="mt-8 text-3xl text-[#000000] leading-8 text-center">Explora Nuestra Tienda Con los mejores calzados del mercado "El Mundo Para Tus Pies"</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/products"
                    class="rounded-full bg-[#000] hover:bg-[#6495ED] px-6 py-3 text-lg font-semibold text-white shadow-lg transition duration-300 transform hover:scale-105">Ver
                    Productos</a>
            </div>
        </div>
    </div>
</section>

<div class="bg-trasparent py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-4xl font-semibold leading-7 text-[#BA3030]">MHOA|Calzados </h2>
            <p class="mt-2 text-xl font-bold tracking-tight text-gray-900 sm:text-2xl">Viste zapatillas deportivas y haz del día a día una carrera diaria.!</p>
            <p class="mt-6 text-lg leading-8 text-gray-600">Nos centramos en ayudarte en estos 4 puntos fundamentales
            </p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
            <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
                <div class="relative pl-16">
                    <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-red-800">
                            <i class="fa-brands fa-shopify fa-lg" style="color: #ffffff;"></i> 
                        </div>
                        Calidad Del Producto
                    </dt>
                    <dd class="mt-2 text-base leading-7 text-gray-600">Hecho con una serie de materiales reciclados, este exterior incorpora al menos un 50 % de contenido reciclado. Este producto representa solo una de nuestras soluciones para ayudar a poner fin a los residuos plásticos.</dd>
                </div>
                <div class="relative pl-16">
                    <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div
                            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-red-800">
                            <i class="fa-solid fa-money-bill-wave fa-lg" style="color: #ffffff;"></i>
                        </div>
                        Metodo De Pago
                    </dt>
                    <dd class="mt-2 text-base leading-7 text-gray-600">Contamos con diferentes formas de pago tales como: tarjeta credito y debitos o transferencias muy pronto agregaremos otros metodos de pagos.</dd>
                </div>
                <div class="relative pl-16">
                    <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div
                            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-red-800">
                           <i class="fa-solid fa-box-open fa-lg" style="color: #ffffff;"></i>
                        </div>
                        Envios Free!
                    </dt>
                    <dd class="mt-2 text-base leading-7 text-gray-600">Con tu primera compra tenes envio free!. Si ya hiciste tu primer compra llevando dos productos tenes el "Envio Gratis" a cualquier lugar del pais.</dd>
                </div>
                <div class="relative pl-16">
                    <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div
                            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-red-800">
                            <i class="fa-solid fa-basket-shopping fa-lg" style="color: #ffffff;"></i>
                        </div>
                        Facilidad de la Compra!
                    </dt>
                    <dd class="mt-2 text-base leading-7 text-gray-600">Para realizar una compra es muy sencillo eliges el productos que deseas y con un click te llevara al metodo de pago abonas el pago y listo.!</dd>
                </div>
            </dl>
        </div>
    </div>
</div>